<!--div class="container1">
  <div class="nav">
    <ul>
      <li>Home</li>
      <li>directory</li>
    </ul>
  </div>

    <div class="section">
      First section

    </div>
    <div class="section">
      Second Section:xxxxxxxxxxxxxxxxxxxxxxxxxxx
      xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    </div>
    <div class="section">
      Third section: blablabla
      blablabla
    </div>


</div-->



<!--div class="container1">
  <div align="center">
    <div class="card1">
      <div class="card-inner">
        <div class="box">
          <label style="padding-left: 10%; padding-top: 5%">
            Username
          </label>
        </div>
        <div class="box">
          <label style="padding-left: 10%; padding-top: 5%">
            Password
          </label>
        </div>

        <button class="box" style="background-color: green;">
          Login
        </button>
      </div>
    </div>
  </div>

</div-->
<div style="display: flex; justify-content: space-around">
  <div class="box1">
    a
  </div><div class="box1">
  a
  </div><div class="box1">
  a
  </div><div class="box1">
  a
  </div>
</div>

